<a href="https://colab.research.google.com/github/suri-pu-bi/baekjoon_study/blob/main/20220326%2C27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 5032 탄산음료 (Bronze 2)
e,f,c = map(int, input().split())

cnt = 0
a = e+f
b = 0
while ((a+b)//c != 0):
  num1 = (a+b)//c
  num2 = (a+b)%c
  a = num1
  b = num2
  cnt += a
  print(a,b,cnt)
print(cnt)

In [9]:
# 1157 단어공부 (Bronze 1)

word = input()
word = word.upper()
words = {}
for i in word:
  if i not in words:
    cnt = word.count(i)
    words[i] = cnt

# print(words)

# max(words): words의 key값 중 최댓값 출력
# key = words.get: value의 최댓값을 기준으로 하여 words의 key를 출력 
# 한줄 for문/if문 사용시 빈 리스트 만들어서 추가하는 작업 불필요

max_word = [k for k,v in words.items() if max(words.values()) == v]
if len(max_word) >= 2:
  print("?")
else :
  print(max_word[0])

abc
{'A': 1, 'B': 1, 'C': 1}
?

In [51]:
# 1193 분수찾기 (Bronze 1)
# 시간초과

x = int(input())

up = 1 
down = 1
line = 0
num = 1


for i in range(2,x+1):
  if line%2 == 0:
    if down == 1 and up%2 == 0:
      up += 1
      num = i
      line += 1
    else:
      up += 1 
      down -= 1
      num = i

  else:
      if up == 1 and down%2 != 0:
        down += 1
        num = i
        line += 1
      else:    
        up -= 1
        down += 1
        num = i


print(str(up)+"/"+str(down))

14
2/4

In [64]:
# 1193 

# 1193 분수찾기 (Bronze 1)
# 시간초과 해결 -> line별 개수 구하고, 그 개수의 합 구해서 x 번호가 있는 최종 line 구한 후 최종 line에 대하여 홀수 line/짝수 line 나눠서 최종번호까지 up, down 시키기 

x = int(input())

up = 1 
down = 1
line = 1
cnt = 0

while  cnt < x :
  cnt += line 
  line += 1

line -= 1
cnt -= line

# print(cnt, line)

if line%2 == 0:
  down = line
  up = 1
  cnt += 1
  while (cnt < x):
    if cnt == x:
      break
    up += 1
    down -= 1
    cnt += 1

else:
  up = line
  down = 1
  cnt += 1
  while (cnt < x):
    if cnt == x:
      break
    up -= 1
    down += 1
    cnt += 1


print(str(up)+"/"+str(down))

14
10 5
2/4

In [66]:
# 10797

day = int(input())
cars = list(map(int,input().split()))

print(cars.count(day))

3
1 2 3 5 3
2

In [68]:
# 5543

burger = [int(input()) for i in range(3)]
drink = [int(input()) for i in range(2)]

set = min(burger) + min(drink) - 50
print(set)

1999
1999
100
189
100
150

In [71]:
# 5532

L,A,B,C,D = [int(input()) for i in range(5)]

korean = A//C
math = B//D
if A%C != 0:
  korean += 1
if B%D != 0:
  math += 1

print(L-max(korean,math))

15
32
48
4
6
7

In [75]:
# 2752

words = list(map(int,input().split()))
words.sort()
for i in words:
  print(i,end=" ")

3 1 2
1 2 3

In [77]:
# 10039

students = [int(input()) for i in range(5)]
sum = 0
for i in range(5):
  if students[i] < 40:
    students[i] = 40
  sum += students[i]
print(int(sum/5))

10
65
100
30
95
68

In [79]:
# 9498

score = int(input())

if 90 <=score<= 100:
  print("A")
elif 80 <=score<=89:
  print("B")
elif 70<=score<=79:
  print("C")
elif 60<=score<=69:
  print("D")
else:
  print("F")

100
A