<a href="https://colab.research.google.com/github/suri-pu-bi/baekjoon_study/blob/main/20220216.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#2739
N = int(input())

for i in range(1,10):
  N_ = N*i 
  print("{0} * {1} = {2}".format(N,i,N_))

4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [8]:
# 1152

str = input().split()

print(len(str))

The last character is a blank
6

In [14]:
# 1453

N = int(input())

sit = list(map(int,input().split()))

# print(sit)
cnt = 0
for i in range(N):
  for j in range(i+1,N):
    if sit[i] == sit[j]:
      cnt += 1 
      break

print(cnt)

6
2 3 4 3 2 2
3

In [25]:
# 1919

str1 = list(input())
str2 = list(input())

# list.remove() 는 리스트를 변환 시킨 후 아무것도 반환하지 않음 
# 그래서 remove의 반환값을 사용하려고 하면 Nonetype error 발생
# Error Code : str1 = str1.remove(str1[i]) 

# 리스트에서 요소를 삭제할 때, 앞에서부터 돌리면 indexerror 발생
# 뒤에서부터 for문을 돌리자

same_num1 = []
same_num2 = []

cnt = 0
for i in range(len(str1)):
  for j in range(len(str2)):
    if str1[i] == str2[j]:
      if j not in same_num2:  
        same_num1.append(i)
        same_num2.append(j)
        break


# print(same_num1)
# print(same_num2)

ani1 = len(str1) - len(same_num1) 
ani2 = len(str2) - len(same_num2)

# print(str1)
# print(str2)

print(ani1+ani2)

occurs
succor
[0, 1, 2, 3, 4, 5]
[4, 2, 3, 1, 5, 0]
['o', 'c', 'c', 'u', 'r', 's']
['s', 'u', 'c', 'c', 'o', 'r']
0

In [15]:
# 2562

num_list = []
for i in range(9):
  num = int(input())
  num_list.append(num)

max_num = max(num_list)
max_index = num_list.index(max_num)

print(max_num)
print(max_index+1)

3
29
38
12
57
74
40
85
61
85
7