<a href="https://colab.research.google.com/github/suri-pu-bi/baekjoon_study/blob/main/20220310%2C13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2798 블랙잭

import itertools
# 조합, 순열

N, M = map(int,input().split())
cards = list(map(int,input().split()))
cards3 = itertools.combinations(cards,3)

sum_ = []
for card in cards3:
  card = list(card)
  if sum(card)<= M :
    sum_.append(sum(card))

print(max(sum_))

10 500
93 181 245 214 315 36 185 138 216 295
497

In [ ]:
# 3009 네 번째 점

x_ = []
y_ = []

for i in range(3):
  x, y = map(int,input().split())
  x_.append(x)
  y_.append(y)


for i in range(3):
  cntx = x_.count(x_[i])
  if cntx == 1:
    x = x_[i]
  cnty = y_.count(y_[i])
  if cnty == 1:
    y = y_[i]

print(x,y)

30 20
10 10
10 20
30 10

In [5]:
# 14656
N = int(input())
stu_num = list(map(int,input().split()))
right_num = list(range(1,N+1))

cnt = 0
for i in range(N):
  if stu_num[i] != right_num[i]:
    cnt += 1

print(cnt)

5
3 2 5 4 1
3

In [28]:
# 5622

a = 65
alphabet = []
words = input()
for i in range(8):
  if a == 80 or a == 87:
    alphabet.append(list(map(chr,range(a,a+4))))
    a = a+4
    # print(a, alphabet)
  else:
    alphabet.append(list(map(chr,range(a,a+3))))
    a = a+3
    # print(a, alphabet)

# print(alphabet)
# print(alphabet[0])
## dial = ['ABC','DEF', 'GHI', 'JKL', 'MNO','PQRS', 'TUV','WXYZ'] -> code easy

time = 0
for i in range(len(words)):
  for j in range(8):
    if words[i] in alphabet[j]:
      time = time + 3 + j
      

print(time)

UNUCIC
36

In [30]:
# 2965
cag1, cag2, cag3 = map(int,input().split())

cag1_move = cag3 - cag2 -1
cag3_move = cag2 - cag1 -1

if cag1_move <= cag3_move :
  print(cag3_move)
else :
  print(cag1_move)

3 5 9
3